.main-title {
    font-size:4em;
    margin-bottom: 0;
}

.feedback-table{
    display:flex;
}

.form-section h3 {
    margin-top:2px;
    margin-bottom:2px;
}

.form-section td {
    font-size:1.5em;
    padding-top:1em;
}

.form-section{
    color: white;
    height: fit-content;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,.1);
    backdrop-filter: blur(20px);
    padding: 50px;
}

.rating{
    transform: rotateY(180deg);
}

.rating input[type="radio"]{
    display: none;
}

.rating path{
    cursor: pointer;
}

.rating label:hover path,.rating label:hover~label path, input:checked+label path, input:checked~label path{
    fill: yellow;
}

.rating path{
    transition:all .5s ease;
}

.age{
    width:100%
}

.form-section input{
    border-radius:10px;
    background-color:beige;
}

.rating label {
    padding: 0 30px;
}

.form-section textarea {
    width:100%;
    height:5em;
    border-radius:10px;
    background-color:beige;
    font-size:1.2em;
}

.submit-button {
    width:30%;
    height:1.5em;
    font-size:1em;
    border-radius:10px;
    background-color:beige;
}

.form-section input {
    height:1.2em;
    font-size:1em;
}

textarea#custFeed{
    font-size: 1em;
}

.post-feedback button:hover{
    filter: brightness(90%);
    transition: all .5s ease;
    cursor: pointer;
}