body{
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

.introBackground{
    left: 10%;
    width: 100%;
    height: 600px;
}

.intro{
    width: 1000px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 50px;
    box-shadow: 0 30px 50px gray;
}

#slide{
    width: max-content;
    margin-top: 50px;
}

.item{
    width: 200px;
    height: 300px;
    background-position: inline-block;
    background-size: cover;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px black;
    transition: .5s;
}

.item:nth-child(1), .item:nth-child(2){
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    border-radius: 0;
    box-shadow: none;
}

.item:nth-child(3){
    left: 70%;
}

.item:nth-child(4){
    left: calc(70% + 220px);
}

.item:nth-child(5){
    left: calc(70% + 440px);
    opacity: 0;
}

.item:nth-child(n+6){
    left: calc(70%+660px);
    opacity: 0;
}

.item .content{
    width: 300px;
    position: absolute;
    left: 100px;
    top: 55%;
    transform: translateY(-50%);
    color: white;
    display: none;
}

.item:nth-child(2) .content{
    display: block;
}

.item .name{
    font-size: 40px;
    font-weight: bold;
    opacity: 0;
    animation: showcontent 1s ease-in-out 1 forwards;
}

.item .des{
    margin: 20px 0;
    opacity: 0;
    animation: showcontent 1s ease-in-out 0.3s 1 forwards;
}

.item button{
    padding: 10px 20px;
    border: none;
    opacity: 0;
    animation: showcontent 1s ease-in-out 0.6s 1 forwards;
}

@keyframes showcontent{
    from{
        opacity:0;
        transform: translateY(100px);
        filter: blur(20px);
    }to{
        opacity:1;
        transform: translateY(0);
        filter: blur(0);
    }
}

.buttons{
    width: 100%;
    position: absolute;
    bottom: 50px;
    margin-left: -50px;
    text-align: center;
}

.s_button{
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: red;
    background-color: white;
    font-size: 25px;
    border-radius: 50%;
    font-weight: bold;
    border: 1px solid #555;
    margin: 0 25px;
    transition: .5s;
}

.s_button:hover{
    cursor: pointer;
    background-color: red;
    color: white;
}



