.offer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.divider{
    width: 150px;
    height: 4px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-top: 8px;
    margin-bottom: 8px;
}

.offer-container h1{
    color: white;
    margin-bottom: 0;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.card{
    color: white;
    width: 20%;
    margin: 100px;
    height: fit-content;
    background-color: rgba(0,0,0,0.1);
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(255,255,255,0.5);
    backdrop-filter: blur(20px);
    transition: all .5s ease;
    
}

.card:hover{
    transform: translateY(-2%);
}

.card-description{
    padding: 0 10px;
}