#drink{
 float: left;
 width: 35%;
 margin-right: 45px;
 background-color: red;
}
#setdish{
 width: 35%;
 background-color: red;
 margin-left: 150px;
}
h1{
 text-transform: capitalize;
 font-size: 36px;
 position: relative;
 display: inline-block;
 padding-bottom: 10px;
 color: white;
 text-decoration: underline;  
}
#orderselect{
border: 1px solid white;
}

#imagestyle{
float: left;
}

.distance img{
  padding:50px ;
  width: 125px;
  height: 125px;
}
