#drink{
 float: left;
 width: 35%;
 margin-right: 45px;
 background-color: red;
 border-radius: 10px;
}
#setdish{
 width: 35%;
 background-color: red;
 margin-left: 150px;
 border-radius: 10px;
}
h1{
 text-transform: capitalize;
 font-size: 36px;
 position: relative;
 display: inline-block;
 padding-bottom: 10px;
 color: white;
 text-decoration: underline;  
}
#orderselect{
border: 1px solid white;
}

#imagestyle{
float: left;
}

.distance img{
  padding:50px ;
  width: 125px;
  height: 125px;
}

.box-contro{
  margin-left: 50px;
}

.buttonmain{
  border-radius: 10px;
  color: rgba(255, 255,255, 0.7);
  background-color: orange;
  font-size: 10px;
  width: 120px;
  height: 45px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttonmain:hover {
box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
transform: translateY(-2px);
}

.buttonend{
  background-color: orange;
  margin-left: 170px;
  width: 110px;
  height: 30px;
}