*, *::after, *::before {
    box-sizing: border-box;
}
.mealtitle{
    text-align: center;
    color: white;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    width: 500px;
    max-width: 80%;
    backdrop-filter: blur(20px);
    color: white;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: red;
    border-radius: 10px;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.Setselect{
    float: left;
    margin-left: 15%;
    padding-bottom: 20px;
}

.buttoncontro{
    width: 120px;
    height: 70px;
    border-radius: 30px;
    background-color:rgba (255,255,255,0.7);
}

input[type=radio] {
    --s: 1em;     /* control the size */
    --c: #009688; /* the active color */
    
    height: var(--s);
    aspect-ratio: 1;
    border: calc(var(--s)/8) solid #939393;
    padding: calc(var(--s)/8);
    background: 
       radial-gradient(farthest-side,var(--c) 94%,#0000) 
       50%/0 0 no-repeat content-box;
    border-radius: 50%;
    outline-offset: calc(var(--s)/10);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    font-size: inherit;
    transition: .3s;
  }
  input[type=radio]:checked {
    border-color: var(--c);
    background-size: 100% 100%;
  }
  
  input[type=radio]:disabled {
    background: 
       linear-gradient(#939393 0 0) 
       50%/100% 20% no-repeat content-box;
    opacity: .5;
    cursor: not-allowed;
  }
  
  @media print {
    input[type=radio] {
      -webkit-appearance: auto;
      -moz-appearance: auto;
      appearance: auto;
      background: none;
    }
  }
  
.radiocontro label {
    display:inline-flex;
    align-items:center;
    gap:10px;
    margin:5px 0;
    cursor: pointer;
  }

  
